.env
.idea/copyright/
.idea/misc.xml
.idea/modules.xml
.idea/spark.iml
.idea/workspace.xml
_ide_helper.php
vendor/dompdf/dompdf/lib/php-font-lib/
vendor/fzaninotto/faker/src/Faker/Calculator/Iban.php
vendor/fzaninotto/faker/src/Faker/ORM/Propel2/
vendor/fzaninotto/faker/src/Faker/ORM/Spot/
vendor/fzaninotto/faker/src/Faker/Provider/ar_SA/
vendor/fzaninotto/faker/src/Faker/Provider/de_AT/Text.php
vendor/fzaninotto/faker/src/Faker/Provider/de_CH/
vendor/fzaninotto/faker/src/Faker/Provider/el_GR/Company.php
vendor/fzaninotto/faker/src/Faker/Provider/el_GR/Text.php
vendor/fzaninotto/faker/src/Faker/Provider/en_IN/
vendor/fzaninotto/faker/src/Faker/Provider/en_PH/PhoneNumber.php
vendor/fzaninotto/faker/src/Faker/Provider/en_SG/
vendor/fzaninotto/faker/src/Faker/Provider/en_US/Payment.php
vendor/fzaninotto/faker/src/Faker/Provider/en_ZA/Company.php
vendor/fzaninotto/faker/src/Faker/Provider/fa_IR/PhoneNumber.php
vendor/fzaninotto/faker/src/Faker/Provider/fr_CH/
vendor/fzaninotto/faker/src/Faker/Provider/he_IL/
vendor/fzaninotto/faker/src/Faker/Provider/hr_HR/
vendor/fzaninotto/faker/src/Faker/Provider/hu_HU/Payment.php
vendor/fzaninotto/faker/src/Faker/Provider/hy_AM/Color.php
vendor/fzaninotto/faker/src/Faker/Provider/it_CH/
vendor/fzaninotto/faker/src/Faker/Provider/ja_JP/Text.php
vendor/fzaninotto/faker/src/Faker/Provider/ka_GE/Address.php
vendor/fzaninotto/faker/src/Faker/Provider/ka_GE/Color.php
vendor/fzaninotto/faker/src/Faker/Provider/ka_GE/DateTime.php
vendor/fzaninotto/faker/src/Faker/Provider/ka_GE/Internet.php
vendor/fzaninotto/faker/src/Faker/Provider/ka_GE/Payment.php
vendor/fzaninotto/faker/src/Faker/Provider/ka_GE/PhoneNumber.php
vendor/fzaninotto/faker/src/Faker/Provider/ko_KR/Text.php
vendor/fzaninotto/faker/src/Faker/Provider/lt_LT/
vendor/fzaninotto/faker/src/Faker/Provider/lv_LV/Color.php
vendor/fzaninotto/faker/src/Faker/Provider/mn_MN/
vendor/fzaninotto/faker/src/Faker/Provider/nb_NO/
vendor/fzaninotto/faker/src/Faker/Provider/nl_NL/Text.php
vendor/fzaninotto/faker/src/Faker/Provider/ro_MD/Payment.php
vendor/fzaninotto/faker/src/Faker/Provider/ro_RO/Payment.php
vendor/fzaninotto/faker/src/Faker/Provider/sv_SE/Payment.php
vendor/fzaninotto/faker/src/Faker/Provider/zh_CN/Color.php
vendor/fzaninotto/faker/src/Faker/Provider/zh_CN/DateTime.php
vendor/fzaninotto/faker/src/Faker/Provider/zh_CN/Payment.php
vendor/fzaninotto/faker/src/Faker/ValidGenerator.php
vendor/fzaninotto/faker/test/Faker/Calculator/IbanTest.php
vendor/fzaninotto/faker/test/Faker/Provider/CompanyTest.php
vendor/fzaninotto/faker/test/Faker/Provider/PhoneNumberTest.php
vendor/fzaninotto/faker/test/Faker/Provider/ar_JO/
vendor/fzaninotto/faker/test/Faker/Provider/ar_SA/
vendor/fzaninotto/faker/test/Faker/Provider/bn_BD/
vendor/fzaninotto/faker/test/Faker/Provider/cs_CZ/
vendor/fzaninotto/faker/test/Faker/Provider/da_DK/
vendor/fzaninotto/faker/test/Faker/Provider/de_CH/
vendor/fzaninotto/faker/test/Faker/Provider/de_DE/
vendor/fzaninotto/faker/test/Faker/Provider/en_AU/
vendor/fzaninotto/faker/test/Faker/Provider/en_CA/
vendor/fzaninotto/faker/test/Faker/Provider/en_IN/
vendor/fzaninotto/faker/test/Faker/Provider/en_NZ/
vendor/fzaninotto/faker/test/Faker/Provider/en_PH/
vendor/fzaninotto/faker/test/Faker/Provider/en_SG/
vendor/fzani
notto/faker/test/Faker/Provider/en_UG/
vendor/fzaninotto/faker/test/Faker/Provider/en_US/
vendor/fzaninotto/faker/test/Faker/Provider/en_ZA/
vendor/fzaninotto/faker/test/Faker/Provider/es_ES/
vendor/fzaninotto/faker/test/Faker/Provider/fi_FI/
vendor/fzaninotto/faker/test/Faker/Provider/fr_BE/
vendor/fzaninotto/faker/test/Faker/Provider/fr_CH/
vendor/fzaninotto/faker/test/Faker/Provider/it_CH/
vendor/fzaninotto/faker/test/Faker/Provider/it_IT/
vendor/fzaninotto/faker/test/Faker/Provider/mn_MN/
vendor/fzaninotto/faker/test/Faker/Provider/nl_BE/
vendor/fzaninotto/faker/test/Faker/Provider/nl_NL/
vendor/fzaninotto/faker/test/Faker/Provider/zh_TW/
vendor/guzzlehttp/guzzle/build/
vendor/guzzlehttp/guzzle/docs/
vendor/guzzlehttp/guzzle/tests/
vendor/laravel/framework/src/Illuminate/Auth/AuthenticationException.php
vendor/laravel/framework/src/Illuminate/Auth/Events/Failed.php
vendor/laravel/framework/src/Illuminate/Contracts/Queue/QueueableCollection.php
vendor/laravel/framework/src/Illuminate/Database/Query/JsonExpression.php
vendor/laravel/framework/src/Illuminate/Database/Schema/PostgresBuilder.php
vendor/laravelcollective/
vendor/league/flysystem/build/
vendor/league/flysystem/src/Plugin/ForcedCopy.php
vendor/league/flysystem/src/Plugin/ForcedRename.php
vendor/league/flysystem/src/SafeStorage.php
vendor/mockery/mockery/tests/Mockery/Generator/StringManipulation/Pass/ClassNamePassTest.php
vendor/mockery/mockery/tests/Mockery/Generator/StringManipulation/Pass/InstanceMockPassTest.php
vendor/mockery/mockery/tests/Mockery/Generator/StringManipulation/Pass/InterfacePassTest.php
vendor/mockery/mockery/tests/Mockery/HamcrestExpectationTest.php
vendor/mockery/mockery/tests/Mockery/Loader/
vendor/mockery/mockery/tests/Mockery/LoaderTest.php
vendor/mockery/mockery/tests/Mockery/MockClassWithFinalWakeupTest.php
vendor/mockery/mockery/tests/Mockery/MockClassWithUnknownTypeHintTest.php
vendor/mockery/mockery/tests/Mockery/MockTest.php
vendor/mockery/mockery/tests/Mockery/MockeryCanMockMultipleInterfacesWhichOverlapTest.php
vendor/mockery/mockery/tests/Mockery/MockingParameterAndReturnTypesTest.php
vendor/mockery/mockery/tests/Mockery/MockingProtectedMethodsTest.php
vendor/mockery/mockery/tests/Mockery/MockingVariadicArgumentsTest.php
vendor/mockery/mockery/tests/Mockery/NamedMockTest.php
vendor/mockery/mockery/tests/Mockery/RecorderTest.php
vendor/mockery/mockery/tests/Mockery/SpyTest.php
vendor/mockery/mockery/tests/Mockery/Test/
vendor/mockery/mockery/tests/Mockery/WithFormatterExpectationTest.php
vendor/mockery/mockery/tests/Mockery/_files/
vendor/mockery/mockery/travis/
vendor/monolog/
vendor/mtdowling/
vendor/nesbot/
vendor/nikic/
vendor/paragonie/
vendor/phenx/
vendor/phpdocumentor/
vendor/phpspec/
vendor/phpunit/
vendor/psr/
vendor/psy/
vendor/ramsey/
vendor/sebastian/
vendor/stripe/
vendor/swiftmailer/
vendor/symfony/
vendor/vlucas/
vendor/webmozart/
